.d-flex {
    display: flex;
}

.d-inline-block {
    display: inline-block;
}
.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.f-center, .j-center {
    justify-content: center;
}

.f-center, .a-center {
    align-items: center;
}

.j-between {
    justify-content: space-between;
}
.grow-1 {
    flex-grow: 1;
}
.f-column {
    flex-direction: column;
}

.f-wrap {
    flex-wrap: wrap;
}
